{{> navbar}}
<main>
    <section>
    <h2>Carrito de compras</h2>
    <article id="cartContainer">
        <h3>No hay productos en el carrito</h3>
    </article>
    </section>
</main>

<script src="js/products.js"></script>
<script src="js/cart.js"></script>