<main>
	<form id="loginForm" action="/login" method="post">
		<h2>
			Ingresar
		</h2>
		<div class="form-input">
			<Label>Correo</Label>
			<input type="email" name="email" id="userInput" />
			<Label>Contraseña</Label>
			<input type="password" name="pass" id="passInput" />
		</div>
		<input type="submit" value="Ingresar" />
		<a href="/auth/github">Ingresa con GitHub</a>
        <a href="/register">Sí no tienes una cuenta registrate aquí</a>
	</form>
</main>