<main>
	<form id="registerForm" action="" method="post">
		<h2>
			Cambio de contraseña para: {{email}}
		</h2>
		<p style="color: red;">
			{{error}}
		</p>
		<div class="form-input">
			<Label>Nueva contraseña</Label>
			<input type="password" name="pass" id="passwordInput"  required />
			<Label>Confirma tu nueva contraseña</Label>
			<input type="password" name="pass2" id="passwordInput" required />

		</div>
		<input type="submit" value="Cambiar"/>

	</form>
</main>